$theme-brown-50: #fff1e8;
$theme-brown-100: #e6d3ca;
$theme-brown-200: #ccb7ad;
$theme-brown-300: #b39b92;
$theme-brown-400: #998078;
$theme-brown-500: #806760;
$theme-brown-600: #764f47;
$theme-brown-700: #6b3930;
$theme-brown-800: #61251d;
$theme-brown-900: #57130d;
$theme-brown-950: #4d0400;

$theme-50: #ebf0fa;
$theme-100: #d1daf2;
$theme-200: #b7c4e9;
$theme-300: #9dadd9;
$theme-400: #8397c9;
$theme-500: #6971b8;
$theme-550: #3c46a1;
$theme-600: #535a9c;
$theme-700: #404580;
$theme-800: #2e3064;
$theme-900: #1c1a48;
$theme-950: #0a082c;

$theme-light-50: #f3f6fd;
$theme-light-100: #e8edfa;
$theme-light-150: #dde3f7;
$theme-light-200: #d3d9f5;
$theme-light-250: #c8cef2;
$theme-light-300: #bec5ef;
$theme-light-350: #b3baec;
$theme-light-400: #a9b0ea;
$theme-light-450: #9ea6e7;
$theme-light-500: #949ce4;
$theme-light-550: #8992e1;
$theme-light-600: #7f88df;
$theme-light-650: #748ddd;
$theme-light-700: #6a83da;
$theme-light-750: #5f79d7;
$theme-light-800: #557fd4;
$theme-light-850: #4a75d2;
$theme-light-900: #407bd0;
$theme-light-950: #3571cd;

$white-theme-50: #f9fafb;
$white-theme-100: #f3f4f6;
$white-theme-200: #e5e7eb;
$white-theme-300: #d1d5db;
$white-theme-400: #9ca3af;
$white-theme-500: #6b7280;
$white-theme-600: #4b5563;
$white-theme-700: #374151;
$white-theme-800: #1f2937;
$white-theme-900: #111827;
$white-theme-950: #0a0a0a;

$theme-very-light-pink-50: #fff9f9;
$theme-very-light-pink-100: #ffeeee;
$theme-very-light-pink-200: #ffe3e3;
$theme-very-light-pink-300: #ffd8d8;
$theme-very-light-pink-400: #ffcdcd;
$theme-very-light-pink-500: #ffc2c2;
$theme-very-light-pink-600: #cc9c9c;
$theme-very-light-pink-700: #997575;
$theme-very-light-pink-750: #f57676;
$theme-very-light-pink-800: #664f4f;
$theme-very-light-pink-900: #332828;
$theme-very-light-pink-950: #191414;

$white: #fff;
$gray: #999;
$matGray: #747775;
$black: #000;
$kakaoYellow: #fee500;

$success-light-50: #e6f7ec;
$success-light-100: #ccefda;
$success-light-150: #b3e8c9;
$success-light-200: #99e0b7;
$success-light-250: #80d8a6;
$success-light-300: #66d094;
$success-light-350: #4dc883;
$success-light-400: #33c072;
$success-light-450: #1ab860;
$success-light-500: #00b04f;
$success-light-550: #00a346;
$success-light-600: #00963d;
$success-light-650: #008934;
$success-light-700: #007c2b;
$success-light-750: #006f22;
$success-light-800: #006219;
$success-light-850: #005510;
$success-light-900: #004807;
$success-light-950: #003b00;

$danger-light-50: #fde6e6;
$danger-light-100: #faccac;
$danger-light-150: #f7b3b3;
$danger-light-200: #f59999;
$danger-light-250: #f28080;
$danger-light-300: #ef6666;
$danger-light-350: #ec4d4d;
$danger-light-400: #ea3333;
$danger-light-450: #e71a1a;
$danger-light-500: #e40000;
$danger-light-550: #d30000;
$danger-light-600: #c20000;
$danger-light-650: #b10000;
$danger-light-700: #a00000;
$danger-light-750: #8f0000;
$danger-light-800: #7e0000;
$danger-light-850: #6d0000;
$danger-light-900: #5c0000;
$danger-light-950: #4b0000;

$marry-border: #f57676;
$marry-border-light: #fcc8c8;

$funeral-border: #374151;
$funeral-border-light: #8d9db6;
$funeral-text1: #e1e1e1;
