$theme-brown-50: #FFF1E8;
$theme-brown-100: #E6D3CA;
$theme-brown-200: #CCB7AD;
$theme-brown-300: #B39B92;
$theme-brown-400: #998078;
$theme-brown-500: #806760;
$theme-brown-600: #764F47;
$theme-brown-700: #6B3930;
$theme-brown-800: #61251D;
$theme-brown-900: #57130D;
$theme-brown-950: #4D0400;

$theme-50:  #EBF0FA;
$theme-100: #D1DAF2;
$theme-200: #B7C4E9;
$theme-300: #9DADD9;
$theme-400: #8397C9;
$theme-500: #6971B8;
$theme-550: #3c46a1;
$theme-600: #535A9C;
$theme-700: #404580;
$theme-800: #2E3064;
$theme-900: #1C1A48;
$theme-950: #0A082C;

$theme-light-50:  #F3F6FD;
$theme-light-100: #E8EDFA;
$theme-light-150: #DDE3F7;
$theme-light-200: #D3D9F5;
$theme-light-250: #C8CEF2;
$theme-light-300: #BEC5EF;
$theme-light-350: #B3BAEC;
$theme-light-400: #A9B0EA;
$theme-light-450: #9EA6E7;
$theme-light-500: #949CE4;
$theme-light-550: #8992E1;
$theme-light-600: #7F88DF;
$theme-light-650: #748DDD;
$theme-light-700: #6A83DA;
$theme-light-750: #5F79D7;
$theme-light-800: #557FD4;
$theme-light-850: #4A75D2;
$theme-light-900: #407BD0;
$theme-light-950: #3571CD;

$white-theme-50: #F9FAFB;
$white-theme-100: #F3F4F6;
$white-theme-200: #E5E7EB;
$white-theme-300: #D1D5DB;
$white-theme-400: #9CA3AF;
$white-theme-500: #6B7280;
$white-theme-600: #4B5563;
$white-theme-700: #374151;
$white-theme-800: #1F2937;
$white-theme-900: #111827;
$white-theme-950: #0A0A0A;

$theme-very-light-pink-50:  #FFF9F9;
$theme-very-light-pink-100: #FFEEEE;
$theme-very-light-pink-200: #FFE3E3;
$theme-very-light-pink-300: #FFD8D8;
$theme-very-light-pink-400: #FFCDCD;
$theme-very-light-pink-500: #FFC2C2;
$theme-very-light-pink-600: #CC9C9C;
$theme-very-light-pink-700: #997575;
$theme-very-light-pink-750: #f57676;
$theme-very-light-pink-800: #664F4F;
$theme-very-light-pink-900: #332828;
$theme-very-light-pink-950: #191414;


$white : #FFF;
$gray : #999;
$matGray : #747775;
$black : #000;
$kakaoYellow: #FEE500;


$success-light-50:  #E6F7EC;
$success-light-100: #CCEFDA;
$success-light-150: #B3E8C9;
$success-light-200: #99E0B7;
$success-light-250: #80D8A6;
$success-light-300: #66D094;
$success-light-350: #4DC883;
$success-light-400: #33C072;
$success-light-450: #1AB860;
$success-light-500: #00B04F;
$success-light-550: #00A346;
$success-light-600: #00963D;
$success-light-650: #008934;
$success-light-700: #007C2B;
$success-light-750: #006F22;
$success-light-800: #006219;
$success-light-850: #005510;
$success-light-900: #004807;
$success-light-950: #003B00;

$danger-light-50:  #FDE6E6;
$danger-light-100: #FACCAC;
$danger-light-150: #F7B3B3;
$danger-light-200: #F59999;
$danger-light-250: #F28080;
$danger-light-300: #EF6666;
$danger-light-350: #EC4D4D;
$danger-light-400: #EA3333;
$danger-light-450: #E71A1A;
$danger-light-500: #E40000;
$danger-light-550: #D30000;
$danger-light-600: #C20000;
$danger-light-650: #B10000;
$danger-light-700: #A00000;
$danger-light-750: #8F0000;
$danger-light-800: #7E0000;
$danger-light-850: #6D0000;
$danger-light-900: #5C0000;
$danger-light-950: #4B0000;


$marry-border : #f57676;
$marry-border-light : #fcc8c8;

$funeral-border : #374151;
$funeral-border-light : #8d9db6;
$funeral-text1 :#e1e1e1;

