$theme-brown-50: #FFF1E8;
$theme-brown-100: #E6D3CA;
$theme-brown-200: #CCB7AD;
$theme-brown-300: #B39B92;
$theme-brown-400: #998078;
$theme-brown-500: #806760;
$theme-brown-600: #764F47;
$theme-brown-700: #6B3930;
$theme-brown-800: #61251D;
$theme-brown-900: #57130D;
$theme-brown-950: #4D0400;

$theme-50:  #EBF0FA;
$theme-100: #D1DAF2;
$theme-200: #B7C4E9;
$theme-300: #9DADD9;
$theme-400: #8397C9;
$theme-500: #6971B8;
$theme-600: #535A9C;
$theme-700: #404580;
$theme-800: #2E3064;
$theme-900: #1C1A48;
$theme-950: #0A082C;

$theme-dark-pink-50:  #FAF3F3;
$theme-dark-pink-100: #F0DEDE;
$theme-dark-pink-200: #E5C9C9;
$theme-dark-pink-300: #DAB3B3;
$theme-dark-pink-400: #D09E9E;
$theme-dark-pink-500: #C58989;
$theme-dark-pink-600: #9F6D6D;
$theme-dark-pink-700: #785151;
$theme-dark-pink-800: #523636;
$theme-dark-pink-900: #2C1B1B;
$theme-dark-pink-950: #150D0D;

$theme-medium-pink-50:  #FCF5F5;
$theme-medium-pink-100: #F7E5E5;
$theme-medium-pink-200: #F2D5D5;
$theme-medium-pink-300: #EDC5C5;
$theme-medium-pink-400: #E8B5B5;
$theme-medium-pink-500: #E3A5A5;
$theme-medium-pink-600: #B98282;
$theme-medium-pink-700: #8E6060;
$theme-medium-pink-800: #634040;
$theme-medium-pink-900: #392020;
$theme-medium-pink-950: #1C1010;


$theme-light-pink-50:  #FDF7F7;
$theme-light-pink-100: #F9E9E9;
$theme-light-pink-200: #F5DBDB;
$theme-light-pink-300: #F1CDCD;
$theme-light-pink-400: #EDBFBF;
$theme-light-pink-500: #E9B1B1;
$theme-light-pink-600: #BC8E8E;
$theme-light-pink-700: #8D6A6A;
$theme-light-pink-800: #5F4747;
$theme-light-pink-900: #302323;
$theme-light-pink-950: #171212;

$theme-very-light-pink-50:  #FFF9F9;
$theme-very-light-pink-100: #FFEEEE;
$theme-very-light-pink-200: #FFE3E3;
$theme-very-light-pink-300: #FFD8D8;
$theme-very-light-pink-400: #FFCDCD;
$theme-very-light-pink-500: #FFC2C2;
$theme-very-light-pink-600: #CC9C9C;
$theme-very-light-pink-700: #997575;
$theme-very-light-pink-800: #664F4F;
$theme-very-light-pink-900: #332828;
$theme-very-light-pink-950: #191414;


$white : #FFF;
$gray : #999;
$black : #000;