@use "../utils/mixins";
@use "../themes/colors";
@use "../utils/variables";

.button {
  padding: variables.$button-padding;
  font-size: variables.$button-font-size;
  border-radius: variables.$button-border-radius;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  border: 0;
  background-color: transparent;

  &.bdr{
    border: 1px solid colors.$theme-500;
    color: colors.$theme-500;
    background-color: colors.$white;
    font-size: 1.025rem;
    font-weight: 500;
    &:hover {
      background-color: colors.$theme-500;
      color: colors.$white;
    }

  }
  &.primary {
    background-color: colors.$theme-500;
    color: colors.$white;
  }
}


.login__btn {
  @extend .button;
  width: 80%;
  height: 2.875rem;
  margin-top: 0.895rem;

  .google-icon {
    width: 1.528rem;
    height: 1.528rem;
    background: url("../../images/google_auth.svg") no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.325rem;
  }

  .kakao {

  }
}
