@use "../utils/mixins";
@use "../themes/colors";
@use "../utils/variables";

.button {
  padding: variables.$button-padding;
  font-size: variables.$button-font-size;
  border-radius: variables.$button-border-radius;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  border: 0;
  background-color: transparent;

  &.bdr{
    border: 1px solid $theme-dark-pink-500;
    color: $theme-dark-pink-500;
    background-color: $white;
    font-size: 1.025rem;
    font-weight: 500;
    &:hover {
      background-color: colors.$theme-dark-pink-500;
      color: $white;
    }

  }
  &.primary {
    background-color:$theme-dark-pink-500;
    color:$white;
  }
}


.primary-login__btn {
  @extend .button;
  width: 80%;
  height: 3.475rem;
  margin-top: 1.275rem;
}
