@use "../utils/mixins";

@use "../utils/variables";

.wrapper {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}
.contents {
  height: 100vh;
  overflow-y: auto;
  padding: 3.5rem 1.5rem 3.75rem;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ipone 6/7/8 plue 이상*/
@media screen and (min-width: 376px) {
  html{font-size: 18px;}
}

/* ipone 6/7/8/x */
@media screen and (min-width: 375px) {
  html{font-size: 16px;}
}
/* 갤럭시*/
@media screen and (min-width: 360px) {
  html{font-size: 16px;}
}

.mgr8 {
  @include mixins.margin(right, variables.$spacing-8);
}

.mgl8 {
  @include mixins.margin(left, variables.$spacing-8);
}

.mgt10 {
  @include mixins.margin(top, variables.$spacing-10);
}

.mgb10 {
  @include mixins.margin(bottom, $spacing-10);
}
