@use "../utils/mixins";

.footer {
  @include mixins.flex_mixin;
  @include mixins.fixed_mixin;
  z-index:900;
  background-color: gray;
  text-align: center;
  box-shadow: 4px 0px 12px rgb(0 0 0/35%);
  transition: all .2s cubic-bezier(.55,.97,.7,1);

}
