@use "../utils/mixins";

header {
  @include mixins.flex_mixin;
  @include mixins.fixed_mixin;
  top: 0;
  left : 0;
  z-index: 5;
  height: 3.5rem;
  padding: 0 1.25rem;
}

.close-header {
  .close_btn{
    background-color: transparent;
    background-image: url("../../images/close_btn.svg");
    background-position: center center;
    background-size: 1.5rem auto;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 0;
    margin-right: 1.45rem;
  }

}