@use "../utils/mixins";

header {
  @include mixins.flex_mixin;
  @include mixins.fixed_mixin;
  top: 0;
  left : 0;
  z-index: 5;
  height: 3.5rem;
  padding: 0 1.25rem;
  background-color: aliceblue;
}

