@use '../themes/colors';
@use '../utils/mixins';

:root {
  --schedule-border: #313a92;
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    height: 65%;
    background-color: #f9fafb;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    .schedule {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.875rem;
      padding: 1rem 0;

      &-top {
        @include mixins.flex_mixin(space-between, center);
        padding: 0 1rem;
      }

      &__title {
        font-size: 1.125rem;
        color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        gap: 0.385rem;

        .notice {
          height: 1.325rem;
        }
      }

      &__contents {
        border: 1px solid #dddddd;

        background-color: #f1f1f1;
        min-height: 4.725rem;
        border-radius: 10px;
        padding: 0.75rem;
        width: 100%;

        .schedule__item {
          display: flex;
          flex-direction: column;
          gap: 0.375rem;
          .item {
            &__top-content {
              @include mixins.flex_mixin(space-between);
              margin: 0 0.875rem;

              .item__title {
                color: rgba(0, 0, 0, 0.6);
                font-size: 1.025rem;

                & > .name {
                  color: #000;
                }

                &.marry {
                  & > .event {
                    color: colors.$theme-very-light-pink-750;
                  }
                }
              }
              .dDay {
                @include mixins.flex_mixin;

                height: 1.5rem;
                background-color: rgba(255, 255, 255, 0.35);
                text-wrap: nowrap;
                margin-top: 0.275rem;
                padding: 0.375rem 0.475rem;
                backdrop-filter: blur(36px);
                font-size: 0.775rem;
                box-shadow: 1px 2px 1px rgba(255, 255, 255, 0.2);
                border-radius: 25px;

                &.marry {
                  background-color: rgb(248, 144, 144);
                  color: rgba(255, 255, 255, 0.95);
                }
              }
            }
            &__content {
              width: 100%;
              border-radius: 5px;
              .date__block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0rem 0.875rem;
                color: rgba(0, 0, 0, 0.85);

                .date {
                  font-size: 0.875rem;
                }
                .name {
                  font-size: 0.975rem;
                  color: rgba(0, 0, 0, 0.75);
                }
              }
            }
          }
        }
      }
    }

    .myMenu {
      width: 100%;
      height: 100%;
      margin-top: 1rem;
      &-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 4.725rem);
        gap: 16px;

        .myMenu_item {
          @include mixins.flex_mixin(center, center, column);
          width: 100%;
          height: 100%;
          padding: 0.7rem;
          position: relative;

          & > img {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 2.75rem;
          }

          &-title {
            font-size: 0.785rem;
            color: rgba(0, 0, 0, 0.55);
          }
        }
      }
    }
  }
  &__top {
    background: #5e5c9d;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid #c8c1ff;
    width: 100%;
    padding: 1.5rem 1.5rem;
    &-block {
      display: flex;
      flex-direction: column;
      gap: 1.75rem;
    }
    .top__block {
      @include mixins.flex_mixin(space-between, center);
      width: 100%;
      height: 3.725rem;
    }
    .logo {
      margin-bottom: 5.5rem;

      &__title {
        font-size: 0.975rem;
      }
    }
    .option {
      @include mixins.flex_mixin(flex-end, center);
      gap: 1.375rem;
      margin-right: 1.275rem;
      .menu,
      .logout {
        height: 1.025rem;
        opacity: 0.65;
      }
    }
    .info {
      font-size: 1.075rem;
      color: rgba(255, 255, 255, 0.75);
      &__name,
      &__alarm {
        color: #fff;
        font-size: 1.285rem;
        font-weight: 600;
      }
    }
    .pay {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 0.75rem;
      &__block {
        @include mixins.flex_mixin(center, center, column);

        width: 45%;
        height: 4.925rem;
        border-radius: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
        &.start {
          border: 1px solid #747988;
          background-color: #34336e;
          color: #fff;

          .pay__block-title {
            color: rgba(255, 255, 255, 0.75);
          }
        }
        &.end {
          border: 1px solid #a4b1d3;
          background-color: #deeaff;

          .pay__block-title {
            color: rgba(0, 0, 0, 0.75);
          }
        }

        &-title {
          font-size: 0.875rem;
        }
        &-amount {
          font-size: 1.075rem;
        }
      }
    }
  }
}

.swiper .swiper-pagination-bullet {
  background-color: var(--schedule-border) !important;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  height: 20px !important;
  position: relative !important;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
