@use '../utils/variables';

@mixin fixed_mixin($width: 100%) {
  position: fixed;
  width: $width;
}

@mixin flex_mixin($justify: space-between, $align: center, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin margin($direction, $value) {
  margin-#{$direction}: $value !important;
}
