
@use "../utils/variables";

@mixin fixed_mixin($width:100%) {
  position: fixed;
  width: $width;
}

@mixin flex_mixin($justify:space-between,$align:center){
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin margin($direction, $value) {
  margin-#{$direction}: $value !important;
}
