@import "../base/mixins";

$color-primary: #007bff;
$color-success: #28a745;
$color-danger: #dc3545;


.button {
  @include button-style_mixin($color-primary);
}

.button-success {
  @include button-style_mixin($color-success);
}

.button-danger {
  @include button-style_mixin($color-danger);
}
